{% extends 'user_page/base.html' %}
{% block fine %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{uname}}</h1>
</div>
<div class="mb-4">
    <a href="{% url 'user_page:follow' username=uname %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-w fa-check-circle fa-sm text-white-50"></i> Follow</a>
    | <a href="{% url 'user_page:unfollow' username=uname %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-w fa-check-circle fa-sm text-white-50"></i> UnFollow</a>
</div>

<!-- Content Row -->
<div class="row">

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="{% url 'user_page:followers' username=uname %}">Followers</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">__</div>
        </div>
        <div class="col-auto"><i class="fas fa-male fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="{% url 'user_page:following' username=uname %}">Following</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">__</div>
        </div>
        <div class="col-auto"><i class="fas fa-male fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="{% url 'others:post_list' uname=uname %}">Posts (Files)</a></div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">__</div>
        </div>
        <div class="col-auto"><i class="fas fa-file fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
