{% extends 'user_page/base.html' %}

{% block fine %}
<div class="mb-4">
<a href="{% url 'files:post_new' uname=uname %}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true"><i class="fas fa-w fa-plus"></i><span> NEW</span></a>
</div>
<div class="mb-4">
<a href="{% url 'files:post_draft' uname=uname %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true"><span> drafts</span></a>
</div>
<div class="container">
  {% for post in post_list %}
  <div class="container">
    {% if post.author.username == uname %}
    <div class="post row">
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary text-uppercase"><a href="{% url 'files:post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
          </div>
        <div class="date card-body">
          <p>Posted by : {{ post.author.username }}</p>
          <p>Published on : {{ post.published_date|date:"D M Y"}}</p>
          <a href="{% url 'files:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}




                        <!-- Area Chart
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                                    <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'files:post_detail' pk=post.pk %}">{{ post.title }}</a></h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>-->
