{% extends 'user_page/base.html' %}
{% block fine %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{user.username}}</h1>
</div>
<div class="mb-4">
     <p class="mb-0 text-primary-800">my page</p>
</div>

<!-- Content Row -->
<div class="row">

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="{% url 'user_page:followers' username=user.username %}">Followers</a></div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{who_follows_me.count}}</div>
        </div>
        <div class="col-auto"><i class="fas fa-male fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>


<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><a href="{% url 'user_page:following' username=user.username %}">Following</a></div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{followed_by_me.count}}</div>
        </div>
        <div class="col-auto"><i class="fas fa-male fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>


<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><a href="{% url 'files:post_list' uname=user.username %}">Posts (Files)</a></div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{files.count}}</div>
        </div>
        <div class="col-auto"><i class="fas fa-file fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-warning shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="{% url 'files:download' %}">Downloads</a></div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{downloads.count}}</div>
        </div>
        <div class="col-auto"><i class="fas fa-download fa-2x text-gray-300"></i></div>
      </div>
    </div>
  </div>
</div>

</div>

{% if profile_exist %}
<div class="container">
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"><img src="{{pro.image.url}}" alt="profile" width="400px" height="200px"></div>
    <div class="date card-body">
      <h3 class="m-0 font-weight-bold text-dark">{{ pro.first_name|safe|linebreaksbr }} {{pro.last_name|safe|linebreaksbr}}</h3>
      <p>{{ pro.user.username|safe|linebreaksbr }}</p>
      <p>E-mail : {{ pro.user.email|safe|linebreaksbr }} </p>
      <p>Phone No : {{ pro.phone_no|safe|linebreaksbr }}</p>
    </div>
  </div>
</div>
</div>
{% endif %}

{% endblock %}
